<link rel="stylesheet" href="../style.css">

<section class="c-cta">
    <div class="c-cta__card">
        <!-- Floating Man Illustration -->
        <img src="../assets/images/cta-man.png" alt="" class="c-cta__man">

        <!-- Left Background Lines -->
        <div class="c-cta__lines-group">
            <div class="c-cta__line" style="--line-color: #1a89a3;"></div>
            <div class="c-cta__line" style="--line-color: #147da9;"></div>
            <div class="c-cta__line" style="--line-color: #0c5a9a;"></div>
            <div class="c-cta__line" style="--line-color: #395f75;"></div>
        </div>

        <!-- Content Right -->
        <div class="c-cta__content">
            <div class="c-cta__title-wrapper">
                <h2 class="c-cta__title">Ready to lead with outcomes?</h2>
                <p class="c-cta__text">
                    While others are slowing down, we’re investing forward. Whether you<br>
                    need to scale a technical team or modernize a global program, we’re ready<br>
                    to help you navigate what’s next.
                </p>
            </div>

            <a href="#" class="c-cta__button">
                Get in touch
                <img src="../assets/images/cta-arrow.svg" alt="" width="18" height="18">
            </a>
        </div>
    </div>
</section>
